[submodule "linux-4-3-0-comment"]
	path = linux-4-3-0-comment
	url = https://code.csdn.net/xiebaoyou/linux-4-3-0-comment.git
[submodule "linux-stable"]
	path = linux-stable
	url = git@gitee.com:121786404/linux-stable.git
[submodule "linux_module"]
	path = linux_module
	url = https://github.com/121786404/linux_module
